{% extends 'base.html.twig' %}

{% block title 'Add ToDo' %}
{% block body %}
	<div class="row justify-content-center">
		<div class="col-8">
			<h1>Add ToDo</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">Create</button>
			<a href="{{ path('home') }}" class="btn btn-secondary">Go Back</a>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
