{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!
{% endblock %}

{% block body %}
{# <div class="list-group w-auto">
	{% for todo in [1,2,3,4,5] %}
		{% include "default/_todo_item.html.twig" %}
	{% endfor %}
</div> #}
{# <div class="spinner-loader d-flex justify-content-center align-items-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> #}

	<div class="loader d-none">Loading...</div>
	<div class="list-group list-group-flush w-auto"></div>
{% endblock %}
