<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}ZChallenge!{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('build/images/zonitel-32x32.png') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container-lg d-flex justify-content-center">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
